<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="bcr_bot">

    <ros2_control name="MujocoSystem" type="system">
        <hardware>
            <plugin>mujoco_ros2_control/MujocoSystemInterface</plugin>
            <param name="mujoco_model">$(find bcr_bot)/mjcf/empty_world.xml</param>
            <param name="headless">false</param>
        </hardware>

        <joint name="middle_left_wheel_joint">
            <command_interface name="velocity"/>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
            <state_interface name="effort"/>
        </joint>

        <joint name="middle_right_wheel_joint">
            <command_interface name="velocity"/>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
            <state_interface name="effort"/>
        </joint>
    </ros2_control>

</robot>
