<?xml version="1.0" encoding="UTF-8"?>
<launch>

  <param name="use_sim_time" value="true" />
	<param name="robot_description" command="$(find xacro)/xacro $(find new_bcr_robot)/urdf/new_bcr_robot.xacro
				two_d_lidar_enabled:=true
			" />

  <node name="cartographer_node" pkg="cartographer_ros"
      type="cartographer_node" args="
          -configuration_directory
              $(find new_bcr_robot)/config/cartographer
          -configuration_basename new_bcr_robot.lua"
      output="screen">
    <remap from="scan" to="/scan" />
  </node>

  <node name="cartographer_occupancy_grid_node" pkg="cartographer_ros"
      type="cartographer_occupancy_grid_node" args="-resolution 0.05" />

</launch>
