<?xml version="1.0" encoding="UTF-8"?>

<launch>

<!--............................ CONFIGURABLE PARAMETERS .............................-->

<arg name="mapping_enabled" default="cartographer" doc="Mapping Method" />
<!-- ..................................................................................-->

<group if="$(eval mapping_enabled=='gmapping')">
	<include file="$(find new_bcr_robot)/launch/gmapping.launch"/>
</group>

<group if="$(eval mapping_enabled=='hector_slam')">
	<include file="$(find new_bcr_robot)/launch/hector_slam.launch"/>
</group>

<group if="$(eval mapping_enabled=='slam_toolbox')">
	<include file="$(find new_bcr_robot)/launch/slam_toolbox.launch"/>
</group>

<group if="$(eval mapping_enabled=='cartographer')">
	<include file="$(find new_bcr_robot)/launch/cartographer.launch"/>
</group>

<!-- ................................................................................. -->


</launch>